<script type="text/javascript">
    function llenarLabores() {
        var selectLabor = document.getElementById('SelectResponsable');
        cosole.log('nuevas labores ');
    }
</script>
<div class="container p-5">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <h1>Asignacion de Labores Diaria</h1>
            <div class="card">
                <div class="card-body ">
                    <form action="/empleados/asignar_labor" method="POST">
                        <div class="form-group">
                            <h6>Responsable:</h6>
                            <select name="selectResponsable" id="selectResponsable">
                                {{#each responsable}}
                                <option value="this.idLabor">
                                <p>{{this.identificacion}}</p> - <p>{{this.nombres}}</p>
                                </option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="form-group">
                            <input type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="textdescription" rows="2" class="form-control"
                                placeholder="description"></textarea>
                        </div>
                        <div class="form-group"></div>
                        <button class="btn btn-success btn-block">
                            Save
                        </button>
                        <p></p>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>