<footer id="sticky-footer" class=" foo py-2 bg-dark text-white">
            <div class="container text-center">
                    <div class="col-md-12">
                        <h1 class="font-weight-light mt-2 text-white">ALAR.Corp - SIS - Soluciones Integrales Software</h1>
                    </div>
            </div>
    <div class="container text-center">
        <small>Copyright &copy; www.github.com/GermanCode</small>
    </div>
</footer>