<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <img id="logo_nav" src="/img/Banner.png" style="margin: 3px; border: 1px solid black; width: 95px; heigth: 70px;"> 
        <a class="navbar-brand" href="/">&nbsp; Agroveterinaria Nicol G.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item dropdown">
                    <a class = "nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" arias aria-haspopup="true" aria-expanded="false">
                        Empleados
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="/signup" class="dropdown-item">Agregar Empleado</a>
                        <a href="/empleados" class="dropdown-item">Ver Empleados</a>
                        <div class="dropdown-divider"></div>
                        <a href="/links/add" class="dropdown-item">Revisar Labores</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Salir</a>
                </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Registrarse</a>
                    </li>
                {{/if}}
                
                
            </ul>
        </div>
    </div>
</nav>