<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/Logo.png" alt="Buho Logo" class="buho card-img-top mx-auto m-2 rounded">
            <h1 class="mb-3">AgroVeterinaria Nicol G.</h1>
            <h3 class="mb-5">
                <em>Granja de Porcicultura</em>
                <p>2020</p>
            </h3>
            <a href="./map" target="_blank"class="btn btn-primary">Ubicanos - KM5 Via El Doncello Caquetá</a>
        </div>
    </header>
</main>